/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-wght: 400;
  --title-card-wght: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --bg-gradient:  repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
                  repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
                  linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  --label-stroke: #fff;
  --button-hover-color: #fff;
  --contour-heart-color: #000;
  --fill-heart-color: #ff0000;
}
